@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --body-gradient: linear-gradient(
    0deg,
    rgba(52, 62, 89, 1) 0%,
    rgba(58, 64, 74, 1) 100%
  );
  --clr-white: #fafafa;
  --clr-green: #afa;
  --clr-red: #fa5555;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (min-width: 1250px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: var(--clr-white);
  background: var(--body-gradient);
  background-repeat: no-repeat;
}
